In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
pd.set_option('display.float_format', lambda x: '%.5f' % x)

/home/eblics/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [4]:
df=pd.read_csv('train.csv',header=None)

In [146]:
df.columns=['date','time','open','high','low','close','vol']
k=0
s=0.0;sx=0.0;sy=0.0
gap=0.0
data=[]
index=0
for i in df.index:
    row=df.iloc[i]
    x=row['close']-row['open']
    y=row['high']-row['low']
    if s==0:s=x
    if s*x>=0 and abs(x)>0.00005:
        k+=1
        sx+=x
        sy+=y
    else:
        data.append([k,sx,sy,0,0,0])
        s=x
        if index>0:
            data[index-1][3]=k
            data[index-1][4]=sx
            data[index-1][5]=sy
        k=1;sx=x;sy=y;index+=1

In [33]:
ef.to_csv('pn.csv')

In [147]:
ef.columns=['pn','pco','phl','nn','nco','nhl']
ef.describe()

               pn         pco         phl          nn         nco         nhl
count 44021.00000 44021.00000 44021.00000 44021.00000 44021.00000 44021.00000
mean      2.07828    -0.00000     0.00027     2.07826    -0.00000     0.00027
std       1.47579     0.00025     0.00030     1.47582     0.00025     0.00030
min       1.00000    -0.00662     0.00001     0.00000    -0.00662     0.00000
25%       1.00000    -0.00011     0.00011     1.00000    -0.00011     0.00011
50%       2.00000    -0.00001     0.00019     2.00000     0.00000     0.00019
75%       3.00000     0.00011     0.00034     3.00000     0.00011     0.00034
max      17.00000     0.00580     0.01850    17.00000     0.00580     0.01850

In [198]:
#gf=ef[(ef['pco']>0.00050) & (ef['pn']<=2)]
gf=ef[(ef['pco']>0)& (ef['pn']<=1)]
p=len(gf[(gf['nco']<0)&(gf['nhl']>0.00020)].index)/len(gf.index)
p
#gf.describe()

0.8260869565217391

In [184]:
len(gf)

290