In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
pd.set_option('display.float_format', lambda x: '%.5f' % x)

/home/eblics/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [4]:
df=pd.read_csv('train.csv',header=None)

In [146]:
df.columns=['date','time','open','high','low','close','vol']
k=0
s=0.0;sx=0.0;sy=0.0
gap=0.0
data=[]
index=0
for i in df.index:
    row=df.iloc[i]
    x=row['close']-row['open']
    y=row['high']-row['low']
    if s==0:s=x
    if s*x>=0 and abs(x)>0.00005:
        k+=1
        sx+=x
        sy+=y
    else:
        data.append([k,sx,sy,0,0,0])
        s=x
        if index>0:
            data[index-1][3]=k
            data[index-1][4]=sx
            data[index-1][5]=sy
        k=1;sx=x;sy=y;index+=1

In [33]:
ef.to_csv('pn.csv')

In [147]:
ef.columns=['pn','pco','phl','nn','nco','nhl']
ef.describe()

               pn         pco         phl          nn         nco         nhl
count 44021.00000 44021.00000 44021.00000 44021.00000 44021.00000 44021.00000
mean      2.07828    -0.00000     0.00027     2.07826    -0.00000     0.00027
std       1.47579     0.00025     0.00030     1.47582     0.00025     0.00030
min       1.00000    -0.00662     0.00001     0.00000    -0.00662     0.00000
25%       1.00000    -0.00011     0.00011     1.00000    -0.00011     0.00011
50%       2.00000    -0.00001     0.00019     2.00000     0.00000     0.00019
75%       3.00000     0.00011     0.00034     3.00000     0.00011     0.00034
max      17.00000     0.00580     0.01850    17.00000     0.00580     0.01850

In [204]:
#gf=ef[(ef['pco']>0.00050) & (ef['pn']<=2)]
gf=ef[(ef['pco'])& (ef['phl']>=0.00100)]
p=len(gf[(gf['nco']<0)&(gf['nhl']>0.00020)].index)/len(gf.index)
p
#gf.describe()

0.7446351931330472

In [205]:
len(gf)

466

In [206]:
ef

       pn      pco     phl  nn      nco     nhl
0       1 -0.00001 0.00011   3  0.00015 0.00027
1       3  0.00015 0.00027   1 -0.00002 0.00006
2       1 -0.00002 0.00006   1  0.00014 0.00018
3       1  0.00014 0.00018   3 -0.00018 0.00042
4       3 -0.00018 0.00042   1  0.00008 0.00008
5       1  0.00008 0.00008   6 -0.00047 0.00121
6       6 -0.00047 0.00121   1  0.00012 0.00013
7       1  0.00012 0.00013   2 -0.00017 0.00022
8       2 -0.00017 0.00022   2  0.00009 0.00028
9       2  0.00009 0.00028   1 -0.00010 0.00023
10      1 -0.00010 0.00023   3  0.00024 0.00030
11      3  0.00024 0.00030   3 -0.00050 0.00056
12      3 -0.00050 0.00056   4  0.00020 0.00048
13      4  0.00020 0.00048   1 -0.00005 0.00015
14      1 -0.00005 0.00015   1  0.00005 0.00006
15      1  0.00005 0.00006   3 -0.00008 0.00018
16      3 -0.00008 0.00018   4  0.00019 0.00026
17      4  0.00019 0.00026   3 -0.00008 0.00020
18      3 -0.00008 0.00020   3  0.00015 0.00042
19      3  0.00015 0.00042   2 -0.00009 0.00016
20      2 -0.00009 0.00016   4  0.00039 0.00046
21      4  0.00039 0.00046   2 -0.00013 0.00034
22      2 -0.00013 0.00034   1  0.00010 0.00013
23      1  0.00010 0.00013   2 -0.00025 0.00041
24      2 -0.00025 0.00041   1  0.00018 0.00020
25      1  0.00018 0.00020   1 -0.00006 0.00012
26      1 -0.00006 0.00012   1  0.00014 0.00022
27      1  0.00014 0.00022   3 -0.00011 0.00034
28      3 -0.00011 0.00034   2  0.00010 0.00026
29      2  0.00010 0.00026   1 -0.00015 0.00017
...    ..      ...     ...  ..      ...     ...
43991   1  0.00008 0.00013   2 -0.00043 0.00047
43992   2 -0.00043 0.00047   1  0.00005 0.00064
43993   1  0.00005 0.00064   1 -0.00004 0.00018
43994   1 -0.00004 0.00018   1  0.00017 0.00024
43995   1  0.00017 0.00024   1 -0.00006 0.00015
43996   1 -0.00006 0.00015   3  0.00014 0.00026
43997   3  0.00014 0.00026   1 -0.00001 0.00010
43998   1 -0.00001 0.00010   3  0.00035 0.00061
43999   3  0.00035 0.00061   2 -0.00008 0.00014
44000   2 -0.00008 0.00014   1  0.00006 0.00007
44001   1  0.00006 0.00007   1 -0.00007 0.00013
44002   1 -0.00007 0.00013   4  0.00013 0.00021
44003   4  0.00013 0.00021   7 -0.00032 0.00042
44004   7 -0.00032 0.00042   1  0.00009 0.00009
44005   1  0.00009 0.00009   1 -0.00007 0.00008
44006   1 -0.00007 0.00008   3  0.00019 0.00026
44007   3  0.00019 0.00026   3 -0.00027 0.00033
44008   3 -0.00027 0.00033   3  0.00013 0.00029
44009   3  0.00013 0.00029   1 -0.00003 0.00010
44010   1 -0.00003 0.00010   3  0.00009 0.00018
44011   3  0.00009 0.00018   1 -0.00010 0.00013
44012   1 -0.00010 0.00013   6  0.00011 0.00023
44013   6  0.00011 0.00023   3 -0.00017 0.00023
44014   3 -0.00017 0.00023   2  0.00003 0.00009
44015   2  0.00003 0.00009   2 -0.00012 0.00015
44016   2 -0.00012 0.00015   1  0.00002 0.00006
44017   1  0.00002 0.00006   1 -0.00005 0.00009
44018   1 -0.00005 0.00009   1  0.00003 0.00003
44019   1  0.00003 0.00003   3 -0.00021 0.00029
44020   3 -0.00021 0.00029   0  0.00000 0.00000

[44021 rows x 6 columns]